<div class="header">
    <h1>Buskasa</h1>
    <h5>Tus sueños bajo techo</h5>
  </div>
  

<div class="content">
    <img src="../../../assets/house-user-solid.svg" alt="">
    <div class="body">
            <h1>Iniciar Sesión</h1>
            <div class="input-container">
                <input type="text" placeholder="Usuario">
                <img id="input-icon" src="../../../assets/user-solid.svg" alt="Usuario">
            </div>
            <div class="input-container">
                <input type="password" placeholder="Contraseña">
                <img id="input-icon" src="../../../assets/key-solid.svg" alt="Contraseña">
            </div>
            <button>Ingresar</button>
    </div>
</div>
